html,
body {
  height: 100%;
  text-align: center; 
  font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
  font-size: 1.1em;
}

p.detail {
  font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
  font-size: 17px;
  text-indent:1em;
}

strong {
  font-weight: bold;
  color: #008080;
}

.wrap {
  margin: 60px 0px;
  padding: 25px;
  background: rgba(246, 246, 246, 1);
  border-radius: 20px;
}

.wrap-title {
  border-bottom: solid #008080 5px;
  margin-bottom: 10px;
}

.wrap-btn {
  float: right;
}