html,
body {
  height: 100%;
  text-align: center; 
  font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
  font-size: 1.1em;
}



strong {
  font-weight: bold;
  color: #008080;
}

.wrap {
  position: relative;
  margin-top: 35px;
  padding: 5px;
  background: rgba(246, 246, 246, 1);
  border-radius: 20px;
  /*height: 385px;*/

}

.wrap-title {
  border-bottom: solid #008080 5px;
  margin-bottom: 10px;
}

.wrap-btn {
  position: absolute;
  bottom: 0px;
  right: 25px;

  -webkit-transition: -webkit-transform , opacity, background , width , height , font-size ;

  -o-transition-property: width, height, -o-transform, background, font-size, opacity, color;
  /*-o-transition-duration:1s, 1s, 1s, 1s, 1s, 1s, 1s;*/

  -moz-transition-property: width, height, -moz-transform, background, font-size, opacity, color;
  /*-moz-transition-duration: 1s, 1s, 1s, 1s, 1s, 1s, 1s;*/

  transition-property: width, height, transform, background, font-size, opacity;
  /*transition-duration: 1s, 1s, 1s, 1s, 1s, 1s;*/

    -webkit-border-radius: 5px;
}

.wrap-btn:hover {
  -moz-transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  transform: rotate(10deg);

    font-size: 20px;
    /*color: #fff;*/
}

.wrap:hover .detail{
  display: block;

}

.detail {
  display: none;
  position: absolute;
  top: 75px;
  padding: 5px 5px 20px 5px;
  font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
  font-size: 17px;
  text-align: left;
  text-indent:1em;
  background: rgba(172, 163, 216, 1);
  border-radius: 20px;
  z-index: 1000;

}

