html,
body {
  height: 100%;
  text-align: center; 
  font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
  font-size: 1.1em;
  background: url('../images/background.jpg');
  background-size: cover;
  min-height: 200px;
}


a,a:hover {
  text-decoration: none;
}

.wrap {
  width: 400px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -200px;
  margin-top: -100px;

  background: rgba(0,0,0,.3);
  color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgb(242, 227, 201);

  padding: 10px;
  box-sizing: conten-box;
}

.header {
  border-bottom: 1px solid #eee;
  margin-bottom: 15px;
}

.container {
  width: auto;
}

.container ul {
  text-align: left;
}

.container  li {
  list-style: none;
}
.container  li:before {
  content:">>";
  padding-right: 3px;
}


.link {
  transition: 1s;
  color: #fff;
  text-shadow: 0 0 15px #5cb85c;
}

.link:hover {
  padding-left: 30px;
  color: #fff;
}

